.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin: 50px auto;
}
.form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

input {
    padding: 10px;
    display: block;
    width: 300px;
}

.btn-sign-up {
    margin-top: 8px;
    background: forestgreen;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.gender {
    display: flex;
}

select {
    margin-left:
            15px;
}

.link {
    text-decoration: none;
    margin: 15px;
}

.link:hover {
    text-decoration: underline;
}

.msg {
    color: red;
    font-size: 18px;
    margin: 0;
}